#Database settigns
DATABASE_URL=

#JWT settigns
JWT_SECRET=

#Mail settigns
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

#RabbitMQ settings
RABBITMQ_URL=

#Cloudinary settings
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=